{% extends "index/header.html" %}

{% block content %}
	{% load static %}

  <!-- Portfolio Grid -->
  <section class="bg-light" id="activities">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">EVENTS</h2>
          <h3 class="section-subheading text-muted">The events organised by our club:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">


					  <img class="img-fluid" src="{% static 'index/img/portfolio/sae2.jpg' %}"  alt="" >
          <div class="overlay">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1" id="abc">



            <i class="fas fa-plus fa-3x"></i>

          </a>
        </div>

          <div class="portfolio-caption">
            <h4>TRANSMISSION</h4>

          </div>
        </div>
				<div class="col-md-4 col-sm-6 portfolio-item">


					  <img  src="{% static 'index/img/portfolio/sae3.jpg' %}"  height="190px" width="300px" alt="" >
          <div class="overlay">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2" id="abc">



            <i class="fas fa-plus fa-3x"></i>

          </a>
        </div>

          <div class="portfolio-caption">
            <h4>BATTLE OF WATERLOO</h4>

          </div>
        </div>
				<div class="col-md-4 col-sm-6 portfolio-item">


						<img  class="img-fluid" src="{% static 'index/img/portfolio/sae4.jpg' %}"  alt="" >
					<div class="overlay">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3" id="abc">



						<i class="fas fa-plus fa-3x"></i>

					</a>
				</div>

					<div class="portfolio-caption">
						<h4>JUNKYARD</h4>

					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">


						<img  src="{% static 'index/img/portfolio/sae5.jpg' %}"  height="190px" width="300px"  alt="" >
					<div class="overlay">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal4" id="abc">



						<i class="fas fa-plus fa-3x"></i>

					</a>
				</div>

					<div class="portfolio-caption">
						<h4>APOCALYPSE</h4>

					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">


						<img  class="img-fluid" src="{% static 'index/img/portfolio/sae6.jpg' %}"  alt="" >
					<div class="overlay">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal5" id="abc">



						<i class="fas fa-plus fa-3x"></i>

					</a>
				</div>

					<div class="portfolio-caption">
						<h4>ROYAL LEAGUE</h4>

					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item">


						<img  class="img-fluid" src="{% static 'index/img/portfolio/sae7.jpg' %}"  alt="" >
					<div class="overlay">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal6" id="abc">



						<i class="fas fa-plus fa-3x"></i>

					</a>
				</div>

					<div class="portfolio-caption">
						<h4>ESCAPE THE MINOTAUR</h4>

					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item">


						<img  class="img-fluid" src="{% static 'index/img/portfolio/sae8.jpg' %}"  alt="" >
					<div class="overlay">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal7" id="abc">



						<i class="fas fa-plus fa-3x"></i>

					</a>
				</div>

					<div class="portfolio-caption">
						<h4>IMPROMPTUS</h4>

					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">


						<img  class="img-fluid" src="{% static 'index/img/portfolio/sae9.jpg' %}"  alt="" >
					<div class="overlay">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal8" id="abc">



						<i class="fas fa-plus fa-3x"></i>

					</a>
				</div>

					<div class="portfolio-caption">
						<h4>CONSILIO</h4>

					</div>
				</div>




      <br>
      <div class="col-lg-8 mx-auto text-center">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/announcements">Get event updates!</a>
      </div>
    </div>
  </section>

		<!-- Modal 1 -->
		<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">TRANSMISSION</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae2.jpg' %}" alt="">
									<p>“Transmission” presents you a series of challenging and mind-boggling tasks wherein your technical skills are put to test and questioned by experience. Leave no stone unturned in keeping your concepts clean and error-free cause that might just be your pitfall. Execute your knowledge and abilities to win over people.
	</p>

									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 2 -->
		<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">BATTLE OF WATERLOO</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae3.jpg' %}" alt="">
									<p>Wage war, overthrow the enemies in your own Pochinki, and conquer them by firing ammunition rounds with your hydraulic arms.</p>

									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 3 -->
		<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">JUNKYARD</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae4.jpg' %}" alt="">
									<p>Don't let the junk go waste and let the society be more technology-surrounded. In Junkyard, gather your creative ideas and use them to make something useful out of the scrap and like a phoenix, let your innovation rise from ashes!</p>

									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 4 -->
		<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">APOCALYPSE</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae5.jpg' %}" alt="">
									<p>Are you a someone who is interested in building robots? Does your robot have what it takes to survive any deadly obstacle?
	Then come on down and take on the toughest obstacle course!</p>

									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 5 -->
		<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">ROYAL LEAGUE</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae6.jpg' %}" alt="">
									<p>A time will come when the canons would conflict, explosions would break in the sky, the flames would climb higher and the chariots would stand face to face, breaking the forts of the opponents to stand out victorious. Defend your land, fight on the foreground, streets and hills but never surrender. </p>

									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 6 -->
		<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">ESCAPE THE MINOTAUR</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae7.jpg' %}" alt="">
									<p>Do you think your bot is intelligent enough to follow lines, avoid obstacles, solve mazes and make it to the finish line?
	"Escape the Minotaur" brings you an opportunity to put your bot to test through various levels of challenging tasks but most importantly, all by itself without any external control. So prepare your algorithm, calibrate your sensors and get ready to be enthralled!</p>

									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 7 -->
		<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">IMPROMPTUS</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae8.jpg' %}" alt="">
									<p>Focus your inner entropy to bring out the Einstein in you. This Aavishkar we bring you Impromptus, a one-of-a-kind event which challenges your brain cells to be as random and spontaneous as possible.</p>

									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">CONSILIO</h2>

									<img class="img-fluid d-block mx-auto" src="{% static 'index/img/portfolio/sae9.jpg' %}" alt="">
									<p>Brainstorm, ideate, design, parametrize and create your most extraordinary creation.
	Consilio is a must try on-spot event for awakening the engineer in you. </p>
									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="copyright">Copyright &copy; SAE NIT Durgapur</span>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			</footer>
{% endblock %}
